:root{
    --border-radius: 3px;
}

body{
    min-width: 620px;
    background: #ddd;
    font-family: sans-serif;
}
#boards {
    background-color: rgb(0, 98, 128);
}
.board{
    margin: 20px;
    border: aliceblue;
    background: #00558690;
    border-radius: 3px;
    color: rgb(58, 34, 3);
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.425);


}
h1 {
    text-align: center;
}
h1, .board-title, .board-column-title{
    font-weight: 100;
}

h1{
    text-align: center;
    font-size: 4em;
    letter-spacing: 5px;
}

button{
    background: #222;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: sans-serif;
    padding: 4px 10px;
}

.board-container{
    max-width: 960px;
    margin: 0 auto;
}

section.board{
    margin: 20px;
    border: aliceblue;
    background: #ffffff90;
    border-radius: 3px;
}

.board-header{
    height: 50px;
    background: #fff;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.board-title{
    margin: 13px;
    display: inline-block;
    font-size: 20px;
}
.board-title, .board-add, .board-toggle{
    display: inline-block;
}

.board-toggle{
    float: right;
    margin: 13px;
}

.board-columns{
    display: flex;
    flex-wrap: nowrap;
}

.board-column{
    padding: 10px;
    flex: 1;
}

.board-column-content{
    min-height: 49px;
}

.board-column-content:empty{
    /*This only works if the tag is really empty and there is not even whitespace inside*/
    border: 4px solid #cdcdcd;
    margin-top: 4px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.board-column-title{
    text-align: center;
    font-size: large;
    font-weight: 700;
}

.card{
    position: relative;
    background: #222;
    color: rgb(255, 255, 255);
    border-radius: var(--border-radius);
    margin: 4px 0;
    padding: 4px;
}

.card-remove{
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 12px;
    cursor: pointer;
}

.card-title{
    padding-right: 16px;
}
